language: haskell

notifications:
  email:
    recipients:
      - roland@tritsch.org
    on_success: always
    on_failure: always

sudo: required

cache:
  directories:
    - ~/rolandtritsch/haskell-aoc-2017/.stack-work
    - ~/.stack

before_install:
  - curl -sSL https://get.haskellstack.org/ | sh
  - stack build --dry-run

script:
  - travis_wait 60 ./bin/run.sh

env:
  - DAY=01 PART=1 TYPE=EXE
  - DAY=01 PART=2 TYPE=EXE
  - DAY=02 PART=1 TYPE=EXE
  - DAY=02 PART=2 TYPE=EXE
  - DAY=03 PART=1 TYPE=EXE
  - DAY=03 PART=2 TYPE=EXE
  - DAY=04 PART=1 TYPE=EXE
  - DAY=04 PART=2 TYPE=EXE
  - DAY=05 PART=1 TYPE=EXE
  - DAY=05 PART=2 TYPE=EXE
  - DAY=06 PART=1 TYPE=EXE
  - DAY=06 PART=2 TYPE=EXE
  - DAY=07 PART=1 TYPE=EXE
  - DAY=07 PART=2 TYPE=EXE
  - DAY=08 PART=1 TYPE=EXE
  - DAY=08 PART=2 TYPE=EXE
  - DAY=09 PART=1 TYPE=EXE
  - DAY=09 PART=2 TYPE=EXE
  - DAY=10 PART=1 TYPE=EXE
  - DAY=10 PART=2 TYPE=EXE
  - DAY=11 PART=1 TYPE=EXE
  - DAY=11 PART=2 TYPE=EXE
  - DAY=12 PART=1 TYPE=EXE
  - DAY=12 PART=2 TYPE=EXE
  - DAY=13 PART=1 TYPE=EXE
  - DAY=13 PART=2 TYPE=EXE
  - DAY=14 PART=1 TYPE=EXE
  - DAY=14 PART=2 TYPE=EXE
  - DAY=15 PART=1 TYPE=EXE
  - DAY=15 PART=2 TYPE=EXE
  - DAY=16 PART=1 TYPE=EXE
  - DAY=16 PART=2 TYPE=EXE
  - DAY=17 PART=1 TYPE=EXE
  - DAY=17 PART=2 TYPE=EXE
  - DAY=18 PART=1 TYPE=EXE
  - DAY=18 PART=2 TYPE=EXE
  - DAY=19 PART=1 TYPE=EXE
  - DAY=19 PART=2 TYPE=EXE
  - DAY=20 PART=1 TYPE=EXE
  - DAY=20 PART=2 TYPE=EXE
  - DAY=21 PART=1 TYPE=EXE
  - DAY=21 PART=2 TYPE=EXE
  - DAY=22 PART=1 TYPE=EXE
  - DAY=22 PART=2 TYPE=EXE
  - DAY=23 PART=1 TYPE=EXE
  - DAY=23 PART=2 TYPE=EXE
  - DAY=24 PART=1 TYPE=EXE
  - DAY=24 PART=2 TYPE=EXE
  - DAY=25 PART=1 TYPE=EXE
  - DAY=01 PART=1 TYPE=TEST
  - DAY=01 PART=2 TYPE=TEST
  - DAY=02 PART=1 TYPE=TEST
  - DAY=02 PART=2 TYPE=TEST
  - DAY=03 PART=1 TYPE=TEST
  - DAY=03 PART=2 TYPE=TEST
  - DAY=04 PART=1 TYPE=TEST
  - DAY=04 PART=2 TYPE=TEST
  - DAY=05 PART=1 TYPE=TEST
  - DAY=05 PART=2 TYPE=TEST
  - DAY=06 PART=1 TYPE=TEST
  - DAY=06 PART=2 TYPE=TEST
  - DAY=07 PART=1 TYPE=TEST
  - DAY=07 PART=2 TYPE=TEST
  - DAY=08 PART=1 TYPE=TEST
  - DAY=08 PART=2 TYPE=TEST
  - DAY=09 PART=1 TYPE=TEST
  - DAY=09 PART=2 TYPE=TEST
  - DAY=10 PART=1 TYPE=TEST
  - DAY=10 PART=2 TYPE=TEST
  - DAY=11 PART=1 TYPE=TEST
  - DAY=11 PART=2 TYPE=TEST
  - DAY=12 PART=1 TYPE=TEST
  - DAY=12 PART=2 TYPE=TEST
  - DAY=13 PART=1 TYPE=TEST
  - DAY=13 PART=2 TYPE=TEST
  - DAY=14 PART=1 TYPE=TEST
  - DAY=14 PART=2 TYPE=TEST
  - DAY=15 PART=1 TYPE=TEST
  - DAY=15 PART=2 TYPE=TEST
  - DAY=16 PART=1 TYPE=TEST
  - DAY=16 PART=2 TYPE=TEST
  - DAY=17 PART=1 TYPE=TEST
  - DAY=17 PART=2 TYPE=TEST
  - DAY=18 PART=1 TYPE=TEST
  - DAY=18 PART=2 TYPE=TEST
  - DAY=19 PART=1 TYPE=TEST
  - DAY=19 PART=2 TYPE=TEST
  - DAY=20 PART=1 TYPE=TEST
  - DAY=20 PART=2 TYPE=TEST
  - DAY=21 PART=1 TYPE=TEST
  - DAY=21 PART=2 TYPE=TEST
  - DAY=22 PART=1 TYPE=TEST
  - DAY=22 PART=2 TYPE=TEST
  - DAY=23 PART=1 TYPE=TEST
  - DAY=23 PART=2 TYPE=TEST
  - DAY=24 PART=1 TYPE=TEST
  - DAY=24 PART=2 TYPE=TEST
  - DAY=25 PART=1 TYPE=TEST